# gradle
.gradle/
build/
out/
classes/

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# macos
*.DS_Store

# fabric
run/

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr





# large generator source data
src/generators/**/*.mov
src/generators/**/*.mp4
src/generators/**/*.png
src/generators/**/*.avif
src/generators/*.mov
src/generators/*.mp4
src/generators/*.png
src/generators/*.avif

# Python cache
__pycache__